extends ../layout

block content
  .container.px-4.mx-auto
    .row
      .col-6
        h1.mt-4 Add Book
        ol.breadcrumb.mb-4
          li.breadcrumb-item.active Add 
    .mb-6.mt-3
      form(action="/products" method="POST" enctype="multipart/form-data")
        .row
          .col-8
            .col-12.mt-2
              .form-group
                label.mb-2(for='full-name') title *
                input#full-name.form-control(type='text' name='title' placeholder='title' required='')
            .col-12.mt-2
              .form-group
                label.mb-2(for='email') author*
                input.form-control.w-100(name='author' placeholder='author' required='')
            .col-12.mt-5
              button.btn.btn-primary.w-100(type="submit") Submit