nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  // Navbar Brand
  a.navbar-brand.ps-3(href='#') Start Bootstrap
  // Sidebar Toggle
  button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
    i.fas.fa-bars
  // Navbar Search
  form.d-none.d-md-inline-block.form-inline.ms-auto.me-0.me-md-3.my-2.my-md-0
    .input-group
      input.form-control(type='text' placeholder='Search for...' aria-label='Search for...' aria-describedby='btnNavbarSearch')
      button#btnNavbarSearch.btn.btn-primary(type='button')
        i.fas.fa-search
  // Navbar
  ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
    li.nav-item.dropdown
      a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
        i.fas.fa-user.fa-fw
      ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
        li
          a.dropdown-item(href='#!') Settings
        li
          a.dropdown-item(href='#!') Activity Log
        li
          hr.dropdown-divider
        li
          a.dropdown-item(href='#!') Logout
#layoutSidenav
  #layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
      .sb-sidenav-menu
        .nav
          .sb-sidenav-menu-heading Admin
          a.nav-link(href='/')
            .sb-nav-link-icon
              i.fas.fa-tachometer-alt
            |                                 Home
          .sb-sidenav-menu-heading Page
          a.nav-link(href='/users')
            .sb-nav-link-icon
              i.fas.fa-chart-area
            |                                 Users
          a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#collapsePages' aria-expanded='false' aria-controls='collapsePages')
            .sb-nav-link-icon
              i.fas.fa-book-open
            |                                 Orders
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapsePages.collapse(aria-labelledby='headingTwo' data-bs-parent='#sidenavAccordion')
            nav#sidenavAccordionPages.sb-sidenav-menu-nested.nav.accordion
              a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#pagesCollapseAuth' aria-expanded='false' aria-controls='pagesCollapseAuth')
                | Authentication
                .sb-sidenav-collapse-arrow
                  i.fas.fa-angle-down
              #pagesCollapseAuth.collapse(aria-labelledby='headingOne' data-bs-parent='#sidenavAccordionPages')
                nav.sb-sidenav-menu-nested.nav
                  a.nav-link(href='login.html') Login
                  a.nav-link(href='register.html') Register
                  a.nav-link(href='password.html') Forgot Password
              a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#pagesCollapseError' aria-expanded='false' aria-controls='pagesCollapseError')
                | Error
                .sb-sidenav-collapse-arrow
                  i.fas.fa-angle-down
              #pagesCollapseError.collapse(aria-labelledby='headingOne' data-bs-parent='#sidenavAccordionPages')
                nav.sb-sidenav-menu-nested.nav
                  a.nav-link(href='401.html') 401 Page
                  a.nav-link(href='404.html') 404 Page
                  a.nav-link(href='500.html') 500 Page
          a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#collapseLayouts' aria-expanded='false' aria-controls='collapseLayouts')
            .sb-nav-link-icon
              i.fas.fa-columns
            |                                 Categories
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseLayouts.collapse(aria-labelledby='headingOne' data-bs-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              each category in categories
                a.nav-link(href=`/categories/${category.id}`)= category.name                  
              a.badge.badge-light(href="/categories") All Categories
          a.nav-link(href='/products')
            .sb-nav-link-icon
              i.fas.fa-chart-area
            |                                 Products
          .sb-sidenav-menu-heading Addons
          a.nav-link(href='charts.html')
            .sb-nav-link-icon
              i.fas.fa-chart-area
            |                                 Charts
          a.nav-link(href='tables.html')
            .sb-nav-link-icon
              i.fas.fa-table
            |                                 Tables
  #layoutSidenav_content
    main
     block content
