header.header
  .header-top
    .container
      .header-left
        b BOOKSTORE
      // End .header-left
      .header-right
        ul.top-menu
          li
            a(href='#') Links
            ul
              li
                a(href='tel:#')
                  i.icon-phone
                  | Call: +0123 456 789
              li
              li
                a(href='#signin-modal' data-toggle='modal')
                  i.icon-user
                  | Login
        // End .top-menu
      // End .header-right
    // End .container
  // End .header-top
  .header-middle.sticky-header
    .container
      .header-left
        button.mobile-menu-toggler
          span.sr-only Toggle mobile menu
          i.icon-bars
        a.logo(href='index.html')
          img(src='images/logo.png' alt='Molla Logo' width='105' height='25')
        nav.main-nav
          ul.menu.sf-arrows
            li.megamenu-container.active
              a(href='###') Home
            li
              a.sf-with-ul(href='category.html') Product
              .megamenu.megamenu-md
                .row.no-gutters
                  .col-md-8
                    .menu-col
                      .row
                        .col-md-6
                          .menu-title Shop with sidebar
                          // End .menu-title
                          ul
                            li
                              a(href='category-list.html') Shop List
                            li
                              a(href='category-2cols.html') Shop Grid 2 Columns
                            li
                              a(href='category.html') Shop Grid 3 Columns
                            li
                              a(href='category-4cols.html') Shop Grid 4 Columns
                            li
                              a(href='category-market.html')
                                span
                                  | Shop Market
                                  span.tip.tip-new New
                          .menu-title Shop no sidebar
                          // End .menu-title
                          ul
                            li
                              a(href='category-boxed.html')
                                span
                                  | Shop Boxed No Sidebar
                                  span.tip.tip-hot Hot
                            li
                              a(href='category-fullwidth.html') Shop Fullwidth No Sidebar
                        // End .col-md-6
                        .col-md-6
                          .menu-title Product Category
                          // End .menu-title
                          ul
                            li
                              a(href='product-category-boxed.html') Product Category Boxed
                            li
                              a(href='product-category-fullwidth.html')
                                span
                                  | Product Category Fullwidth
                                  span.tip.tip-new New
                          .menu-title Shop Pages
                          // End .menu-title
                          ul
                            li
                              a(href='cart.html') Cart
                            li
                              a(href='checkout.html') Checkout
                            li
                              a(href='wishlist.html') Wishlist
                            li
                              a(href='dashboard.html') My Account
                            li
                              a(href='#') Lookbook
                        // End .col-md-6
                      // End .row
                    // End .menu-col
                  // End .col-md-8
                  .col-md-4
                    .banner.banner-overlay
                      a.banner.banner-menu(href='category.html')
                        img(src='images/menu/banner-1.jpg' alt='Banner')
                        .banner-content.banner-content-top
                          .banner-title.text-white
                            | Last 
                            br
                            | Chance
                            br
                            span
                              strong Sale
                          // End .banner-title
                        // End .banner-content
                    // End .banner banner-overlay
                  // End .col-md-4
                // End .row
              // End .megamenu megamenu-md
            li
              a(href='about.html') About
            li
              a(href='contact.html') Contact
            li
              a.sf-with-ul(href='blog.html') Blog
              ul
                li
                  a(href='blog.html') Classic
                li
                  a(href='blog-listing.html') Listing
                li
                  a(href='#') Grid
                  ul
                    li
                      a(href='blog-grid-2cols.html') Grid 2 columns
                    li
                      a(href='blog-grid-3cols.html') Grid 3 columns
                    li
                      a(href='blog-grid-4cols.html') Grid 4 columns
                    li
                      a(href='blog-grid-sidebar.html') Grid sidebar
                li
                  a(href='#') Masonry
                  ul
                    li
                      a(href='blog-masonry-2cols.html') Masonry 2 columns
                    li
                      a(href='blog-masonry-3cols.html') Masonry 3 columns
                    li
                      a(href='blog-masonry-4cols.html') Masonry 4 columns
                    li
                      a(href='blog-masonry-sidebar.html') Masonry sidebar
                li
                  a(href='#') Mask
                  ul
                    li
                      a(href='blog-mask-grid.html') Blog mask grid
                    li
                      a(href='blog-mask-masonry.html') Blog mask masonry
                li
                  a(href='#') Single Post
                  ul
                    li
                      a(href='single.html') Default with sidebar
                    li
                      a(href='single-fullwidth.html') Fullwidth no sidebar
                    li
                      a(href='single-fullwidth-sidebar.html') Fullwidth with sidebar
            li
              a(href='faq.html') F.A.Q
          // End .menu
        // End .main-nav
      // End .header-left
      .header-right
        .header-search
          a.search-toggle(href='#' role='button' title='Search')
            i.icon-search
          form(action='#' method='get')
            .header-search-wrapper
              label.sr-only(for='q') Search
              input#q.form-control(type='search' name='q' placeholder='Search in...' required='')
            // End .header-search-wrapper
        // End .header-search
        .dropdown.cart-dropdown
          a.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-display='static')
            i.icon-shopping-cart
            span.cart-count 2
          .dropdown-menu.dropdown-menu-right
            .dropdown-cart-products
              .product
                .product-cart-details
                  h4.product-title
                    a(href='product.html') Beige knitted elastic runner shoes
                  span.cart-product-info
                    span.cart-product-qty 1
                    |                                                 x $84.00
                // End .product-cart-details
                figure.product-image-container
                  a.product-image(href='product.html')
                    img(src='images/products/cart/product-1.jpg' alt='product')
                a.btn-remove(href='#' title='Remove Product')
                  i.icon-close
              // End .product
              .product
                .product-cart-details
                  h4.product-title
                    a(href='product.html') Blue utility pinafore denim dress
                  span.cart-product-info
                    span.cart-product-qty 1
                    |                                                 x $76.00
                // End .product-cart-details
                figure.product-image-container
                  a.product-image(href='product.html')
                    img(src='images/products/cart/product-2.jpg' alt='product')
                a.btn-remove(href='#' title='Remove Product')
                  i.icon-close
              // End .product
            // End .cart-product
            .dropdown-cart-total
              span Total
              span.cart-total-price $160.00
            // End .dropdown-cart-total
            .dropdown-cart-action
              a.btn.btn-primary(href='cart.html') View Cart
              a.btn.btn-outline-primary-2(href='checkout.html')
                span Checkout
                i.icon-long-arrow-right
            // End .dropdown-cart-total
          // End .dropdown-menu
        // End .cart-dropdown
      // End .header-right
    // End .container
  // End .header-middle
// End .header
