extends ../layout

block content
  .page-wrapper
    main.main
      .login-page.bg-image.pt-8.pb-8.pt-md-12.pb-md-12.pt-lg-17.pb-lg-17(style="background-image: url('images/backgrounds/login-bg.jpg')")
        .container
          .form-box
            .form-tab
              ul.nav.nav-pills.nav-fill(role='tablist')
                li.nav-item
                  a#signin-tab-2.nav-link(data-toggle='tab' href='#signin-2' role='tab' aria-controls='signin-2' aria-selected='false') Sign In
                li.nav-item
                  a#register-tab-2.nav-link.active(data-toggle='tab' href='#register-2' role='tab' aria-controls='register-2' aria-selected='true') Register
              .tab-content
                #signin-2.tab-pane.fade(role='tabpanel' aria-labelledby='signin-tab-2')
                  form(action='#')
                    .form-group
                      label(for='singin-email-2') Username or email address *
                      input#singin-email-2.form-control(type='text' name='singin-email' required='')
                    // End .form-group
                    .form-group
                      label(for='singin-password-2') Password *
                      input#singin-password-2.form-control(type='password' name='singin-password' required='')
                    // End .form-group
                    .form-footer
                      button.btn.btn-outline-primary-2(type='submit')
                        span LOG IN
                        i.icon-long-arrow-right
                      .custom-control.custom-checkbox
                        input#signin-remember-2.custom-control-input(type='checkbox')
                        label.custom-control-label(for='signin-remember-2') Remember Me
                      // End .custom-checkbox
                      a.forgot-link(href='#') Forgot Your Password?
                    // End .form-footer
                  .form-choice
                    p.text-center or sign in with
                    .row
                      .col-sm-6
                        a.btn.btn-login.btn-g(href='#')
                          i.icon-google
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;&#x9;&#x9;Login With Google
                      // End .col-6
                      .col-sm-6
                        a.btn.btn-login.btn-f(href='#')
                          i.icon-facebook-f
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;&#x9;&#x9;Login With Facebook
                      // End .col-6
                    // End .row
                  // End .form-choice
                // .End .tab-pane
                #register-2.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='register-tab-2')
                  form(action='action="/users" method="POST"')
                    .form-group
                      label(for='register-name-2') Full Name
                      input#register-name-2.form-control(type='text' name='name' required='' placeholder='input ur fullname')
                      .form-group
                      label(for='register-email-2') Email
                      input#register-email-2.form-control(type='email' name='email' required='' placeholder='input ur email')
                    .form-group
                      label(for='register-password-2') Password
                      input#register-password-2.form-control(type='password' name='password' required='')
                    // End .form-group
                    .form-group
                      label(for='register-confirmpassword-2') Confirm password
                      input#register-confirmpassword-2.form-control(type='password' name='confirmpassword' required='')
                    // End .form-group
                    .form-footer
                      button.btn.btn-outline-primary-2(type='submit')
                        span SIGN UP
                        i.icon-long-arrow-right
                      .custom-control.custom-checkbox
                        input#register-policy-2.custom-control-input(type='checkbox' required='')
                        label.custom-control-label(for='register-policy-2')
                          | I agree to the 
                          a(href='#') privacy policy
                          |  *
                      // End .custom-checkbox
                    // End .form-footer
                  .form-choice
                    p.text-center or sign in with
                    .row
                      .col-sm-6
                        a.btn.btn-login.btn-g(href='#')
                          i.icon-google
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;&#x9;&#x9;Login With Google
                      // End .col-6
                      .col-sm-6
                        a.btn.btn-login.btn-f(href='#')
                          i.icon-facebook-f
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;&#x9;&#x9;Login With Facebook
                      // End .col-6
                    // End .row
                  // End .form-choice
                // .End .tab-pane
              // End .tab-content
            // End .form-tab
          // End .form-box
        // End .container
      // End .login-page section-bg
    // End .main
    include ../partials/footer
