extends ../layout

block content
  section.bg-light
    .container
      form(action="/users" method="POST")
        .row 
          .col-12 
            .form-group
              label(for='name') fullname
              input#full-name.form-control(type='text' name='name' placeholder='input ur fullname')
          .col-12.text-center 
            img#preview-avatar(src="" alt="Avatar Preview")
          .col-12 
            .form-group
              label(for='avatar-link') Avatar link
              input#avatar-link.form-control(type='text' name='avatarURL' placeholder='input ur avatar link')
          .col-12 
            .form-group
              label(for='email') email
              input#email.form-control(type='emIL' name='email' placeholder='input ur email')
          .col-6      
            .form-group
              label(for='password') password
              input#password.form-control(type='password' name='password' placeholder='input ur password')
          .col-6      
            .form-group
              label(for='confirmpassword') Confirm password
              input#confirmpassword.form-control(type='confirmpassword' name='confirmpassword' placeholder='confirm ur password')    
          .col-12 
            button.btn.btn-primary.w-100.mt-4(type="submit") Submit 
  script.  
    const avatarLinkTag = document.getElementById('avatar-link');

    avatarLinkTag.onchange =() => {
      const  avatarPreviewTag = document.getElementById('preview-avatar');

      avatarPreviewTag.src = avatarLinkTag.value;
    }  