doctype html
html
  head
    link(rel='stylesheet' href='vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css')
    link(rel='stylesheet' href='csss/bootstrap.min.css')
    link(rel='stylesheet' href='csss/plugins/owl-carousel/owl.carousel.css')
    link(rel='stylesheet' href='csss/plugins/magnific-popup/magnific-popup.css')
    link(rel='stylesheet' href='csss/plugins/jquery.countdown.css')
    link(rel='stylesheet' href='csss/style.css')
    link(rel='stylesheet' href='csss/skins/skin-demo-14.css')
    link(rel='stylesheet' href='csss/demos/demo-14.css')
      
  body
    block content

    script(type="text/javascript" src='js/jquery.min.js')
    script(type="text/javascript" src='js/bootstrap.bundle.min.js')
    script(type="text/javascript" src='js/jquery.hoverIntent.min.js')
    script(type="text/javascript" src='js/jquery.waypoints.min.js')
    script(type="text/javascript" src='js/superfish.min.js')
    script(type="text/javascript" src='js/owl.carousel.min.js')
    script(type="text/javascript" src='js/bootstrap-input-spinner.js')
    script(type="text/javascript" src='js/jquery.magnific-popup.min.js')
    script(type="text/javascript" src='js/jquery.plugin.min.js')
    script(type="text/javascript" src='js/jquery.countdown.min.js')
    script(type="text/javascript" src='js/main.js')
    script(type="text/javascript" src='js/demos/demo-14.js')







