footer.footer.footer-dark
  .footer-middle
    .container
      .row
        .col-sm-6.col-lg-3
          .widget.widget-about
            img.footer-logo(src='images/logo-footer.png' alt='Footer Logo' width='105' height='25')
            p
              | Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
            .social-icons
              a.social-icon(href='#' title='Facebook' target='_blank')
                i.icon-facebook-f
              a.social-icon(href='#' title='Twitter' target='_blank')
                i.icon-twitter
              a.social-icon(href='#' title='Instagram' target='_blank')
                i.icon-instagram
              a.social-icon(href='#' title='Youtube' target='_blank')
                i.icon-youtube
              a.social-icon(href='#' title='Pinterest' target='_blank')
                i.icon-pinterest
            // End .soial-icons
          // End .widget about-widget
        // End .col-sm-6 col-lg-3
        .col-sm-6.col-lg-3
          .widget
            h4.widget-title Useful Links
            // End .widget-title
            ul.widget-list
              li
                a(href='about.html') About Molla
              li
                a(href='#') How to shop on Molla
              li
                a(href='#') FAQ
              li
                a(href='contact.html') Contact us
              li
                a(href='login.html') Log in
            // End .widget-list
          // End .widget
        // End .col-sm-6 col-lg-3
        .col-sm-6.col-lg-3
          .widget
            h4.widget-title Customer Service
            // End .widget-title
            ul.widget-list
              li
                a(href='#') Payment Methods
              li
                a(href='#') Money-back guarantee!
              li
                a(href='#') Returns
              li
                a(href='#') Shipping
              li
                a(href='#') Terms and conditions
              li
                a(href='#') Privacy Policy
            // End .widget-list
          // End .widget
        // End .col-sm-6 col-lg-3
        .col-sm-6.col-lg-3
          .widget
            h4.widget-title My Account
            // End .widget-title
            ul.widget-list
              li
                a(href='#') Sign In
              li
                a(href='cart.html') View Cart
              li
                a(href='#') My Wishlist
              li
                a(href='#') Track My Order
              li
                a(href='#') Help
            // End .widget-list
          // End .widget
        // End .col-sm-6 col-lg-3
      // End .row
    // End .container
  // End .footer-middle
  .footer-bottom
    .container
      p.footer-copyright Copyright &copy; 2019 Molla Store. All Rights Reserved.
      // End .footer-copyright
      figure.footer-payments
        img(src='images/payments.png' alt='Payment methods' width='272' height='20')
      // End .footer-payments
    // End .container
  // End .footer-bottom
// End .footer
