footer.footer
  .cta.cta-horizontal.cta-horizontal-box.bg-dark.bg-image(style="background-image: url('images/demos/demo-14/bg-1.jpg');")
    .container-fluid
      .row.align-items-center
        .col-xl-8.offset-xl-2
          .row.align-items-center
            .col-lg-5.cta-txt
              h3.cta-title.text-primary Join Our Newsletter
              // End .cta-title
              p.cta-desc.text-light Subcribe to get information about products and coupons
              // End .cta-desc
            // End .col-lg-5
            .col-lg-7
              form(action='#')
                .input-group
                  input.form-control(type='email' placeholder='Enter your Email Address' aria-label='Email Adress' required='')
                  .input-group-append
                    button.btn(type='submit') Subscribe
                  // .End .input-group-append
                // .End .input-group
            // End .col-lg-7
          // End .row
        // End .col-xl-8 offset-2
      // End .row
    // End .container-fluid
  // End .cta
  .footer-middle.border-0
    .container-fluid
      .row
        .col-sm-12.col-lg-4
          .widget.widget-about
            img.footer-logo(src='images/demos/demo-14/logo-footer.png' alt='Footer Logo' width='105' height='25')
            p
              | Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            .widget-about-info
              .row
                .col-sm-6.col-md-4
                  span.widget-about-title Got Question? Call us 24/7
                  a(href='tel:123456789') +0123 456 789
                // End .col-sm-6
                .col-sm-6.col-md-8
                  span.widget-about-title Payment Method
                  figure.footer-payments
                    img(src='images/payments.png' alt='Payment methods' width='272' height='20')
                  // End .footer-payments
                // End .col-sm-6
              // End .row
            // End .widget-about-info
          // End .widget about-widget
        // End .col-sm-12 col-lg-4
        .col-sm-4.col-lg-2
          .widget
            h4.widget-title Useful Links
            // End .widget-title
            ul.widget-list
              li
                a(href='about.html') About Molla
              li
                a(href='#') How to shop on Molla
              li
                a(href='faq.html') FAQ
              li
                a(href='contact.html') Contact us
              li
                a(href='login.html') Log in
            // End .widget-list
          // End .widget
        // End .col-sm-4 col-lg-2
        .col-sm-4.col-lg-2
          .widget
            h4.widget-title Customer Service
            // End .widget-title
            ul.widget-list
              li
                a(href='#') Payment Methods
              li
                a(href='#') Money-back guarantee!
              li
                a(href='#') Returns
              li
                a(href='#') Shipping
              li
                a(href='#') Terms and conditions
              li
                a(href='#') Privacy Policy
            // End .widget-list
          // End .widget
        // End .col-sm-4 col-lg-2
        .col-sm-4.col-lg-2
          .widget
            h4.widget-title My Account
            // End .widget-title
            ul.widget-list
              li
                a(href='#') Sign In
              li
                a(href='cart.html') View Cart
              li
                a(href='#') My Wishlist
              li
                a(href='#') Track My Order
              li
                a(href='#') Help
            // End .widget-list
          // End .widget
        // End .col-sm-4 col-lg-2
        .col-sm-4.col-lg-2
          .widget.widget-newsletter
            h4.widget-title Sign Up to Newsletter
            // End .widget-title
            p Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.
            form(action='#')
              .input-group
                input.form-control(type='email' placeholder='Enter your Email Address' aria-label='Email Adress' required='')
                .input-group-append
                  button.btn.btn-dark(type='submit')
                    i.icon-long-arrow-right
                // .End .input-group-append
              // .End .input-group
          // End .widget
        // End .col-sm-4 col-lg-2
      // End .row
    // End .container-fluid
  // End .footer-middle
  .footer-bottom
    .container-fluid
      p.footer-copyright Copyright &copy; 2019 Molla Store. All Rights Reserved.
      // End .footer-copyright
      .social-icons.social-icons-color
        span.social-label Social Media
        a.social-icon.social-facebook(href='#' title='Facebook' target='_blank')
          i.icon-facebook-f
        a.social-icon.social-twitter(href='#' title='Twitter' target='_blank')
          i.icon-twitter
        a.social-icon.social-instagram(href='#' title='Instagram' target='_blank')
          i.icon-instagram
        a.social-icon.social-youtube(href='#' title='Youtube' target='_blank')
          i.icon-youtube
        a.social-icon.social-pinterest(href='#' title='Pinterest' target='_blank')
          i.icon-pinterest
      // End .soial-icons
    // End .container-fluid
  // End .footer-bottom
// End .footer