header.header.header-14
  .header-top
    .container
      .header-left
        a(href='tel:#')
          i.icon-phone
          | Call: +0123 456 789
      .header-right
        ul.top-menu
          li
            a(href='#') Links
            ul.menus
              li.login
                a(href='users/new' data-toggle='') Sign in / Sign up
  .header-middle
    .container-fluid
      .row
        .col-auto.col-lg-3.col-xl-3.col-xxl-2
          button.mobile-menu-toggler
            span.sr-only Toggle mobile menu
            i.icon-bars
          a.logo(href='index.html')
            img(src='images/demos/demo-14/logo.png' alt='Molla Logo' width='105' height='25')
        .col.col-lg-9.col-xl-9.col-xxl-10.header-middle-right
          .row
            .col-lg-8.col-xxl-4-5col.d-none.d-lg-block
              .header-search.header-search-extended.header-search-visible.header-search-no-radius
                a.search-toggle(href='#' role='button')
                i.icon-search
                form(action='#' method='get')
                  .header-search-wrapper.search-wrapper-wide
                    .select-custom
                      select#cat(name='cat')
                        option(value='') All Departments
                        option(value='1') Fashion
                        option(value='2') - Women
                        option(value='3') - Men
                        option(value='4') - Jewellery
                        option(value='5') - Kids Fashion
                        option(value='6') Electronics
                        option(value='7') - Smart TVs
                        option(value='8') - Cameras
                        option(value='9') - Games
                        option(value='10') Home &amp; Garden
                        option(value='11') Motors
                        option(value='12') - Cars and Trucks
                        option(value='15') - Boats
                        option(value='16') - Auto Tools &amp; Supplies
                    label.sr-only(for='q') Search
                    input#q.form-control(type='search' name='q' placeholder='Search product ...' required='')
                    button.btn.btn-primary(type='submit')
                    i.icon-search
            .col-lg-4.col-xxl-5col.d-flex.justify-content-end.align-items-center
              .header-dropdown-link
                .dropdown.cart-dropdown
                  a.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-display='static')
                    i.icon-shopping-cart
                    span.cart-count 2
                    span.cart-txt Cart
                  .dropdown-menu.dropdown-menu-right
                    .dropdown-cart-products
                      .product
                        .product-cart-details
                          h4.product-title
                            a(href='product.html') Beige knitted elastic runner shoes
                          span.cart-product-info
                            span.cart-product-qty 1
                            |                                                                 x $84.00
                        // End .product-cart-details
                        figure.product-image-container
                          a.product-image(href='product.html')
                            img(src='images/products/cart/product-1.jpg' alt='product')
                        a.btn-remove(href='#' title='Remove Product')
                          i.icon-close
                      // End .product
                      .product
                        .product-cart-details
                          h4.product-title
                            a(href='product.html') Blue utility pinafore denim dress
                          span.cart-product-info
                            span.cart-product-qty 1
                            |                                                                 x $76.00
                        // End .product-cart-details
                        figure.product-image-container
                          a.product-image(href='product.html')
                            img(src='images/products/cart/product-2.jpg' alt='product')
                        a.btn-remove(href='#' title='Remove Product')
                          i.icon-close
                      // End .product
                    // End .cart-product
                    .dropdown-cart-total
                      span Total
                      span.cart-total-price $160.00
                    // End .dropdown-cart-total
                    .dropdown-cart-action
                      a.btn.btn-primary(href='cart.html') View Cart
                      a.btn.btn-outline-primary-2(href='checkout.html')
                        span Checkout
                        i.icon-long-arrow-right
                    // End .dropdown-cart-total
                  // End .dropdown-menu
                // End .cart-dropdown
            // End .col-xxl-5col
          // End .row
        // End .col-xl-9 col-xxl-10
      // End .row
    // End .container-fluid
  // End .header-middle
  .header-bottom.sticky-header
    .container-fluid
      .row
        .col-auto.col-lg-3.col-xl-3.col-xxl-2.header-left
          .dropdown.category-dropdown.show.is-on(data-visible='true')
            a.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-display='static' title='Browse Categories')
              | Browse Categories
            .dropdown-menu.show
              nav.side-nav
                ul.menu-vertical.sf-arrows
                  li.megamenu-container
                    a.sf-with-ul(href='#')
                      i.icon-laptop
                      | Electronics
                    .megamenu
                      .row.no-gutters
                        .col-md-8
                          .menu-col
                            .row
                              .col-md-6
                                .menu-title Laptops &amp; Computers
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') Desktop Computers
                                  li
                                    a(href='#') Monitors
                                  li
                                    a(href='#') Laptops
                                  li
                                    a(href='#') iPad &amp; Tablets
                                  li
                                    a(href='#') Hard Drives &amp; Storage
                                  li
                                    a(href='#') Printers &amp; Supplies
                                  li
                                    a(href='#') Computer Accessories
                                .menu-title TV &amp; Video
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') TVs
                                  li
                                    a(href='#') Home Audio Speakers
                                  li
                                    a(href='#') Projectors
                                  li
                                    a(href='#') Media Streaming Devices
                              // End .col-md-6
                              .col-md-6
                                .menu-title Cell Phones
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') Carrier Phones
                                  li
                                    a(href='#') Unlocked Phones
                                  li
                                    a(href='#') Phone &amp; Cellphone Cases
                                  li
                                    a(href='#') Cellphone Chargers 
                                .menu-title Digital Cameras
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') Digital SLR Cameras
                                  li
                                    a(href='#') Sports &amp; Action Cameras
                                  li
                                    a(href='#') Camcorders
                                  li
                                    a(href='#') Camera Lenses
                                  li
                                    a(href='#') Photo Printer
                                  li
                                    a(href='#') Digital Memory Cards
                                  li
                                    a(href='#') Camera Bags, Backpacks &amp; Cases
                              // End .col-md-6
                            // End .row
                          // End .menu-col
                        // End .col-md-8
                        .col-md-4
                          .banner.banner-overlay
                            a.banner.banner-menu(href='category.html')
                              img(src='images/demos/demo-13/menu/banner-1.jpg' alt='Banner')
                          // End .banner banner-overlay
                        // End .col-md-4
                      // End .row
                    // End .megamenu
                  li.megamenu-container
                    a.sf-with-ul(href='#')
                      i.icon-couch
                      | Furniture
                    .megamenu
                      .row.no-gutters
                        .col-md-8
                          .menu-col
                            .row
                              .col-md-6
                                .menu-title Bedroom
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') Beds, Frames &amp; Bases
                                  li
                                    a(href='#') Dressers
                                  li
                                    a(href='#') Nightstands
                                  li
                                    a(href='#') Kids&apos; Beds &amp; Headboards
                                  li
                                    a(href='#') Armoires
                                .menu-title Living Room
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') Coffee Tables
                                  li
                                    a(href='#') Chairs
                                  li
                                    a(href='#') Tables
                                  li
                                    a(href='#') Futons &amp; Sofa Beds
                                  li
                                    a(href='#') Cabinets &amp; Chests
                              // End .col-md-6
                              .col-md-6
                                .menu-title Office
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') Office Chairs
                                  li
                                    a(href='#') Desks
                                  li
                                    a(href='#') Bookcases
                                  li
                                    a(href='#') File Cabinets
                                  li
                                    a(href='#') Breakroom Tables
                                .menu-title Kitchen &amp; Dining
                                // End .menu-title
                                ul
                                  li
                                    a(href='#') Dining Sets
                                  li
                                    a(href='#') Kitchen Storage Cabinets
                                  li
                                    a(href='#') Bakers Racks
                                  li
                                    a(href='#') Dining Chairs
                                  li
                                    a(href='#') Dining Room Tables
                                  li
                                    a(href='#') Bar Stools
                              // End .col-md-6
                            // End .row
                          // End .menu-col
                        // End .col-md-8
                        .col-md-4
                          .banner.banner-overlay
                            a.banner.banner-menu(href='category.html')
                              img(src='images/demos/demo-13/menu/banner-2.jpg' alt='Banner')
                          // End .banner banner-overlay
                        // End .col-md-4
                      // End .row
                    // End .megamenu
                  li.megamenu-container
                    a.sf-with-ul(href='#')
                      i.icon-concierge-bell
                      | Cooking
                    .megamenu
                      .menu-col
                        .row
                          .col-md-4
                            .menu-title Cookware
                            // End .menu-title
                            ul
                              li
                                a(href='#') Cookware Sets
                              li
                                a(href='#') Pans, Griddles &amp; Woks
                              li
                                a(href='#') Pots
                              li
                                a(href='#') Skillets &amp; Grill Pans
                              li
                                a(href='#') Kettles
                              li
                                a(href='#') Soup &amp; Stockpots
                          // End .col-md-4
                          .col-md-4
                            .menu-title Dinnerware &amp; Tabletop
                            // End .menu-title
                            ul
                              li
                                a(href='#') Plates
                              li
                                a(href='#') Cups &amp; Mugs
                              li
                                a(href='#') Trays &amp; Platters
                              li
                                a(href='#') Coffee &amp; Tea Serving
                              li
                                a(href='#') Salt &amp; Pepper Shaker
                          // End .col-md-4
                          .col-md-4
                            .menu-title Cooking Appliances
                            // End .menu-title
                            ul
                              li
                                a(href='#') Microwaves
                              li
                                a(href='#') Coffee Makers
                              li
                                a(href='#') Mixers &amp; Attachments
                              li
                                a(href='#') Slow Cookers
                              li
                                a(href='#') Air Fryers
                              li
                                a(href='#') Toasters &amp; Ovens
                          // End .col-md-4
                        // End .row
                        .row.menu-banners
                          .col-md-4
                            .banner
                              a(href='#')
                                img(src='images/demos/demo-13/menu/1.jpg' alt='image')
                            // End .banner
                          // End .col-md-4
                          .col-md-4
                            .banner
                              a(href='#')
                                img(src='images/demos/demo-13/menu/2.jpg' alt='image')
                            // End .banner
                          // End .col-md-4
                          .col-md-4
                            .banner
                              a(href='#')
                                img(src='images/demos/demo-13/menu/3.jpg' alt='image')
                            // End .banner
                          // End .col-md-4
                        // End .row
                      // End .menu-col
                    // End .megamenu
                  li.megamenu-container
                    a.sf-with-ul(href='#')
                      i.icon-tshirt
                      | Clothing
                    .megamenu
                      .row.no-gutters
                        .col-md-8
                          .menu-col
                            .row
                              .col-md-6
                                .menu-title Women
                                // End .menu-title
                                ul
                                  li
                                    a(href='#')
                                      strong New Arrivals
                                  li
                                    a(href='#')
                                      strong Best Sellers
                                  li
                                    a(href='#')
                                      strong Trending
                                  li
                                    a(href='#') Clothing
                                  li
                                    a(href='#') Shoes
                                  li
                                    a(href='#') Bags
                                  li
                                    a(href='#') Accessories
                                  li
                                    a(href='#') Jewlery &amp; Watches
                                  li
                                    a(href='#')
                                      strong Sale
                              // End .col-md-6
                              .col-md-6
                                .menu-title Men
                                // End .menu-title
                                ul
                                  li
                                    a(href='#')
                                      strong New Arrivals
                                  li
                                    a(href='#')
                                      strong Best Sellers
                                  li
                                    a(href='#')
                                      strong Trending
                                  li
                                    a(href='#') Clothing
                                  li
                                    a(href='#') Shoes
                                  li
                                    a(href='#') Bags
                                  li
                                    a(href='#') Accessories
                                  li
                                    a(href='#') Jewlery &amp; Watches
                              // End .col-md-6
                            // End .row
                          // End .menu-col
                        // End .col-md-8
                        .col-md-4
                          .banner.banner-overlay
                            a.banner.banner-menu(href='category.html')
                              img(src='images/demos/demo-13/menu/banner-3.jpg' alt='Banner')
                          // End .banner banner-overlay
                        // End .col-md-4
                      // End .row
                      .menu-col.menu-brands
                        .row
                          .col-lg-2
                            a.brand(href='#')
                              img(src='images/brands/1.png' alt='Brand Name')
                          // End .col-lg-2
                          .col-lg-2
                            a.brand(href='#')
                              img(src='images/brands/2.png' alt='Brand Name')
                          // End .col-lg-2
                          .col-lg-2
                            a.brand(href='#')
                              img(src='images/brands/3.png' alt='Brand Name')
                          // End .col-lg-2
                          .col-lg-2
                            a.brand(href='#')
                              img(src='images/brands/4.png' alt='Brand Name')
                          // End .col-lg-2
                          .col-lg-2
                            a.brand(href='#')
                              img(src='images/brands/5.png' alt='Brand Name')
                          // End .col-lg-2
                          .col-lg-2
                            a.brand(href='#')
                              img(src='images/brands/6.png' alt='Brand Name')
                          // End .col-lg-2
                        // End .row
                      // End .menu-brands
                    // End .megamenu
                  li
                    a(href='#')
                      i.icon-blender
                      | Home Appliances
                  li
                    a(href='#')
                      i.icon-heartbeat
                      | Healthy &amp; Beauty
                  li
                    a(href='#')
                      i.icon-shoe-prints
                      | Shoes &amp; Boots
                  li
                    a(href='#')
                      i.icon-map-signs
                      | Travel &amp; Outdoor
                  li
                    a(href='#')
                      i.icon-mobile-alt
                      | Smart Phones
                  li
                    a(href='#')
                      i.icon-tv
                      | TV &amp; Audio
                  li
                    a(href='#')
                      i.icon-shopping-bag
                      | Backpack &amp; Bag
                  li
                    a(href='#')
                      i.icon-music
                      | Musical Instruments
                  li
                    a(href='#')
                      i.icon-gift
                      | Gift Ideas
                // End .menu-vertical
              // End .side-nav
            // End .dropdown-menu
          // End .category-dropdown
        // End .col-xl-3 col-xxl-2
        .col.col-lg-6.col-xl-6.col-xxl-8.header-center
          nav.main-nav
            ul.menu.sf-arrows
              li.megamenu-container.active
                a(href='###') Home
              li
                a.sf-with-ul(href='category.html') Product
                .megamenu.megamenu-md
                  .row.no-gutters
                    .col-md-8
                      .menu-col
                        .row
                          .col-md-6
                            .menu-title Shop with sidebar
                            // End .menu-title
                            ul
                              li
                                a(href='category-list.html') Shop List
                              li
                                a(href='category-2cols.html') Shop Grid 2 Columns
                              li
                                a(href='category.html') Shop Grid 3 Columns
                              li
                                a(href='category-4cols.html') Shop Grid 4 Columns
                              li
                                a(href='category-market.html')
                                  span
                                    | Shop Market
                                    span.tip.tip-new New
                            .menu-title Shop no sidebar
                            // End .menu-title
                            ul
                              li
                                a(href='category-boxed.html')
                                  span
                                    | Shop Boxed No Sidebar
                                    span.tip.tip-hot Hot
                              li
                                a(href='category-fullwidth.html') Shop Fullwidth No Sidebar
                          // End .col-md-6
                          .col-md-6
                            .menu-title Product Category
                            // End .menu-title
                            ul
                              li
                                a(href='product-category-boxed.html') Product Category Boxed
                              li
                                a(href='product-category-fullwidth.html')
                                  span
                                    | Product Category Fullwidth
                                    span.tip.tip-new New
                            .menu-title Shop Pages
                            // End .menu-title
                            ul
                              li
                                a(href='cart.html') Cart
                              li
                                a(href='checkout.html') Checkout
                              li
                                a(href='wishlist.html') Wishlist
                              li
                                a(href='dashboard.html') My Account
                              li
                                a(href='#') Lookbook
                          // End .col-md-6
                        // End .row
                      // End .menu-col
                    // End .col-md-8
                    .col-md-4
                      .banner.banner-overlay
                        a.banner.banner-menu(href='category.html')
                          img(src='images/menu/banner-1.jpg' alt='Banner')
                          .banner-content.banner-content-top
                            .banner-title.text-white
                              | Last 
                              br
                              | Chance
                              br
                              span
                                strong Sale
                            // End .banner-title
                          // End .banner-content
                      // End .banner banner-overlay
                    // End .col-md-4
                  // End .row
                // End .megamenu megamenu-md
              li
                a(href='about.html') About
              li
                a(href='contact.html') Contact
              li
                a.sf-with-ul(href='blog.html') Blog
                ul
                  li
                    a(href='blog.html') Classic
                  li
                    a(href='blog-listing.html') Listing
                  li
                    a(href='#') Grid
                    ul
                      li
                        a(href='blog-grid-2cols.html') Grid 2 columns
                      li
                        a(href='blog-grid-3cols.html') Grid 3 columns
                      li
                        a(href='blog-grid-4cols.html') Grid 4 columns
                      li
                        a(href='blog-grid-sidebar.html') Grid sidebar
                  li
                    a(href='#') Masonry
                    ul
                      li
                        a(href='blog-masonry-2cols.html') Masonry 2 columns
                      li
                        a(href='blog-masonry-3cols.html') Masonry 3 columns
                      li
                        a(href='blog-masonry-4cols.html') Masonry 4 columns
                      li
                        a(href='blog-masonry-sidebar.html') Masonry sidebar
                  li
                    a(href='#') Mask
                    ul
                      li
                        a(href='blog-mask-grid.html') Blog mask grid
                      li
                        a(href='blog-mask-masonry.html') Blog mask masonry
                  li
                    a(href='#') Single Post
                    ul
                      li
                        a(href='single.html') Default with sidebar
                      li
                        a(href='single-fullwidth.html') Fullwidth no sidebar
                      li
                        a(href='single-fullwidth-sidebar.html') Fullwidth with sidebar
              li
                a(href='faq.html') F.A.Q
            // End .menu
          // End .main-nav
        // End .col-xl-9 col-xxl-10
        .col.col-lg-3.col-xl-3.col-xxl-2.header-right
          i.la.la-lightbulb-o
          p Clearance Up to 30% Off
      // End .row
    // End .container-fluid
  // End .header-bottom
// End .header