extends ../layout

block content
  .page-wrapper
    include ../partials/header
    main.main
      .page-header.text-center(style="background-image: url('assets/images/page-header-bg.jpg')")
        .container
          h1.page-title
            | Shopping History
            span History
        // End .container
      // End .page-header
      nav.breadcrumb-nav(aria-label='breadcrumb')
        .container
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Home
            li.breadcrumb-item
              a(href='#') Shop
            li.breadcrumb-item.active(aria-current='page') History
        // End .container
      // End .breadcrumb-nav
      .page-content
        .cart
          .container
            .row
              .col-lg-12
                .viewOrder
                  table.table.table-cart.table-mobile
                    .d-flex.justify-content-between.border-divide-order
                      div
                        | 12:00
                      div
                        | &Dstrok;&atilde; giao h&agrave;ng
                    tbody
                      tr
                        td.product-col
                          .product
                            figure.product-media
                              a(href='#')
                                img(src='assets/images/products/table/product-1.jpg' alt='Product image')
                            h3.product-title
                              a(href='#') Beige knitted elastic runner shoes
                              br
                              p x 1
                            // End .product-title
                          // End .product
                        td.total-col $84.00
                      tr
                        td.product-col
                          .product
                            figure.product-media
                              a(href='#')
                                img(src='assets/images/products/table/product-1.jpg' alt='Product image')
                            h3.product-title
                              a(href='#') Beige knitted elastic runner shoes
                              br
                              p x 1
                            // End .product-title
                          // End .product
                        td.total-col $84.00
                  .d-flex.justify-content-end
                    div
                      | Th&agrave;nh ti&#x1EC1;n :
                      b 0.000&dstrok;
                .viewOrder
                  table.table.table-cart.table-mobile
                    .d-flex.justify-content-between.border-divide-order
                      div
                        | 12:00
                      div
                        | &Dstrok;&atilde; giao h&agrave;ng
                    tbody
                      tr
                        td.product-col
                          .product
                            figure.product-media
                              a(href='#')
                                img(src='assets/images/products/table/product-1.jpg' alt='Product image')
                            h3.product-title
                              a(href='#') Beige knitted elastic runner shoes
                              br
                              p x 1
                            // End .product-title
                          // End .product
                        td.total-col $84.00
                      tr
                        td.product-col
                          .product
                            figure.product-media
                              a(href='#')
                                img(src='assets/images/products/table/product-1.jpg' alt='Product image')
                            h3.product-title
                              a(href='#') Beige knitted elastic runner shoes
                              br
                              p x 1
                            // End .product-title
                          // End .product
                        td.total-col $84.00
                  .d-flex.justify-content-end
                    div
                      | Th&agrave;nh ti&#x1EC1;n :
                      b 0.000&dstrok;
              // End .col-lg-9
            // End .row
          // End .container
        // End .cart
      // End .page-content
    // End .main

    include ../partials/footer

