extends ../layout

block content
  .container-fluid.px-4
    .row
      .col-6
        h1.mt-4 Add Category
        ol.breadcrumb.mb-4
          li.breadcrumb-item.active Add category
    .mb-6.mt-3
      form(action="/categories" method="POST" enctype="multipart/form-data")
        .row
          .col-4 
            .image-upload
              label(for='file-input')
                img#preview.rounded-circle(src='https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png' width='300' height='300')
              input#file-input.d-none(type='file' name="image")

              script.
                const inputTag = document.getElementById('file-input');
                const previewImageTag = document.getElementById('preview');
                inputTag.onchange = () => {
                   const [file] = inputTag.files
                    if (file) {
                      previewImageTag.src = URL.createObjectURL(file)
                    }
                }
          .col-8
            .col-12.mt-2
              .form-group
                label.mb-2(for='full-name') Category Name
                input#full-name.form-control(type='text' name='name' placeholder='Input your category name')
            .col-12.mt-2
              .form-group
                label.mb-2(for='email') Description
                textarea.form-control.w-100(name='description' placeholder='Input your description')
            .col-12.mt-5
              button.btn.btn-primary.w-100(type="submit") Submit
